[submodule "using_unittest"]
	path = processingpy_unittest
	url = https://github.com/jeremydouglass/using_unittest
[submodule "blank_processingpy_sketch"]
	path = processingpy_blank_sketch
	url = https://github.com/jeremydouglass/blank_processingpy_sketch
[submodule "processingpy_pureyaml"]
	path = processingpy_pureyaml
	url = https://github.com/jeremydouglass/processingpy_pureyaml
[submodule "processingpy_jinja2"]
	path = processingpy_jinja2
	url = https://github.com/jeremydouglass/processingpy_jinja2.git
[submodule "processingpy_pyparsing"]
	path = processingpy_pyparsing
	url = https://github.com/jeremydouglass/processingpy_pyparsing.git
