[submodule "using_unittest"]
	path = using_unittest
	url = https://github.com/jeremydouglass/using_unittest
[submodule "blank_processingpy_sketch"]
	path = blank_processingpy_sketch
	url = https://github.com/jeremydouglass/blank_processingpy_sketch
